body
    color #333
    background #cde

.app
    background-color #077EF4
    
.header
	background-color #CE676F
	text-align center
    	
.report-section
	background-color #79D274
	
.report-button
	margin 0
	text-align center